@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap");

body {
  font-family: "Noto Sans", Arial, Helvetica, sans-serif;
}

.file-drop-zone {
  border: 2px dashed #bbb;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  padding: 25px;
  text-align: center;
  font-size: 16pt;
  color: #bbb;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}
